<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="all" data-th-href="@{/css/estilo.css}"/>
    <title>refs-api</title>
</head>
<body>
<div class="container">
    <p class="destaque">refs-api</p>
    <p>Use o endpoint <a href="/api/v1/link/">/api/v1/link/</a> para fazer requerimentos.</p>
</div>
</body>
</html>